.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f6f6f6;
  height: 46px;
  border-radius: 10px;
  width: 360px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f6f6f6;
  height: 46px;
  border-radius: 10px;
  width: 360px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  border-radius: 10px;
  height: 46px;
  width: 360px;
}